#comments ul {
	list-style-type: none;
}

#comments > ul {
	padding-left: 0;
}

.comment {
	background: #f0f0f0;
	width: 50%;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 14px;
} 

.comment .name {
	
	font-style: italic;
} 

.comment .text {
	padding-left: 10px;
} 

.comment .date {
	font-size: 11px;
	color: #8d8d8d;
} 

a {
	color: #2d1a89;
	text-decoration: none;
	font-size: 12px;
	padding-right: 20px;
	cursor: pointer;
}

#reply textarea {
	width: 50%;
	height: 80px;
}

.b-container{
    width:200px;
    height:150px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    display: none;
}
.b-popup .b-popup-content{
    margin:100px auto 0px auto;
    width:50%;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}